description: Added RSS feeds.
---
# {{ page.post }} Posted on {{ page.date }}

We all need rss feeds. This site is now in a modern age!
